/*
 * Add your CSS styles to this file.
 */
@font-face {
    font-family: myFontsName;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap);
}
.site-title{
    margin: 0;
    background-color: dodgerblue;
    color: white;
    font-weight: 200;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 50px;
    padding-left: 15px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    margin-bottom: 0;
    background-color: whitesmoke;
}

a {
    color: black;
    text-decoration: none;
}

    a:hover {
        color: dodgerblue;
    }

button {
    cursor: pointer;
    border: none;
    background-color: white;
}

    button:hover {
        color: dodgerblue;
    }


    button .fas.fa-bullhorn {
        color: white;
        background-color: red;
        border-radius: 50%;
        width: 100px;
        height: 80px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        text-align: center;
        font-size: 65px;
        padding-top: 15px;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.20);
    }

        button .fas.fa-bullhorn:hover {
            background-color: dodgerblue;
            width: 110px;
            height: 83px;
            position: fixed;
            text-align: center;
            font-size: 72px;
            padding-top: 17px;
        }

.navbar {
    background-color: white;
    overflow: hidden;
    padding-left: 15px;
}

.navlist {
    margin: 0;
    padding: 0;
}

.navitem {
    display: inline-block;
    padding: 10px 20px;
}

.active {
    border: solid;
    border-width: thick;
    border-color: white white dodgerblue white;
}

.navitem.navbar-search {
    float: right;
}

#navbar-search-input {
    background-color: whitesmoke;
}

    #navbar-search-input:focus {
        background-color: white;
    }

.twit-container {
    background-color: whitesmoke;
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    padding-top: 30px;
    min-width: 80%;
}

.twit {
    border-radius: 1%;
    flex: 1 25%;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    min-width: 100px;
    max-width: 30%;
    display: flex;
}

    .twit a {
        font-weight: 700;
        display: block;
        text-align: right;
        position: relative;
    }

@media(max-width: 800px) {
    .twit {
        flex: 1 50%;
    }
}

.twit-icon {
    margin: 20px;
    font-size: 20px;
}

.twit-content {
    display: inline-block;
    margin: 0;
    min-width: 75%;
}
